.App {
  height: 100vh;
}

.App div h1 {
  position: absolute;

  font-weight: bold;
  font-size: 110px;
  color: #33363a;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 500px){
  .App div h1 {
    font-size: 70px;
  }
}
